<% layout("/layouts/boilerplate.ejs") %>
    <div class="row">
        <div class="col-8 offset-2">
            <br /><br />
            <h3>Edit Listing</h3>
            <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation"
                enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" value="<%= listing.title %>" id="title"
                        name="listings[title]" placeholder="Add a catchy title">
                </div>

                <div class="mb-3 needs-validation">
                    <label for=" description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" name="listings[description]"
                        placeholder=""><%= listing.description %></textarea>
                </div>

                <div class="mb-3 needs-validation">
                    <label for=" image" class="form-label">Image</label>
                    <input type="file" class="form-control" id="image" name="listings[image]">
                </div>

                <div class="row needs-validation">
                    <div class=" mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" class="form-control" id="price" value="<%= listing.price %>"
                            name="listings[price]" placeholder="1200">
                    </div>

                    <div class="mb-3 col-md-8 needs-validation">
                        <label for=" country" class="form-label">Country</label>
                        <input type="text" value="<%= listing.country %>" class="form-control" id="country"
                            name="listings[country]" placeholder="India">
                    </div>
                </div>

                <div class="mb-3 needs-validation">
                    <label for=" location" class="form-label">Location</label>
                    <input type="text" value="<%= listing.location %>" class="form-control" id="location"
                        name="listings[location]" placeholder="Jaipur, Rajasthan">
                </div>

                <button class="btn btn-dark " type="submit">Edit</button>
            </form>
        </div>
    </div>